body, html {
    height: 100%;
}
body {
    /*display: flex;*/
    margin: 0px;
    overflow: hidden; /*  Disable scrollbars */
    background-color: black;
}

#gui { position: absolute; top: 2px; left: 2px }